<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="md-home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="About Us" tabIcon="ios-help"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Categories" tabIcon="md-list"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="My Events" tabIcon="md-calendar"></ion-tab>
</ion-tabs>
