<!--
  Generated template for the SignInPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>sign-in</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="app-body-styles">
    <h3 class="app-section-h3-title">Sign In</h3>
    <div class="login-tabs">
        <ul class="login-tab-ul">
            <li
                [ngClass]="usersTabClass"
                (click)="onClickUsersTab()">Users</li>
            <li
                [ngClass]="vendorTabClass"
                (click)="onClickVendorsTab()">Restaurants</li>
        </ul>
    </div>
    <form
        [formGroup]="signInFormGroup"
        class="mc-form"
        (ngSubmit)="onSubmitSignIn()" novalidate>
        <ion-list>
            <ion-item>
                <ion-label floating>Username</ion-label>
                <ion-input
                    type="text"
                    formControlName="username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input
                    type="password"
                    formControlName="password"></ion-input>
            </ion-item>
        </ion-list>
        <div class="block-20-padding">
            <button
                *ngIf="signInFormGroup.valid"
                class="mc-button mc-blue mc-center"
                type="submit">
                Sign In
            </button>
            <button
                *ngIf="!signInFormGroup.valid"
                class="mc-button mc-grey mc-center"
                type="button">
                Please Complete Form
            </button>
        </div>
    </form>
    <div class="forgot-something lower-anchor">
        <a (click)="navigateToForgotUsernamePasswordPage(a)">
            Forgot Username or Password?
        </a>
    </div>
</ion-content>
