@import '../../theme/variables';

page-home {
    .content {
        //background: url('../assets/images/restaurant-bg-sized.jpg') center bottom no-repeat;
        //background-size: cover;
    }
    .home-content {

    }
}
