<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>sign-up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="app-body-styles">
    <h3 class="app-section-h3-title">Sign Up</h3>
    <div
        *ngIf="signupComplete"
        class="signup-complete">
        <p>
            You may now <a (click)="navigateToSignInPage()">Log In</a>!
        </p>
    </div>
    <div *ngIf="!signupComplete" class="login-tabs">
        <ul class="login-tab-ul">
            <li
                [ngClass]="usersTabClass"
                (click)="onClickUsersTab()">Users</li>
            <li
                [ngClass]="vendorTabClass"
                (click)="onClickVendorsTab()">Restaurants</li>
        </ul>
    </div>

    <form
        *ngIf="!signupComplete"
        [formGroup]="signUpFormGroup"
        class="mc-form"
        (ngSubmit)="onSubmitSignUp()" novalidate>
        <ion-list>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input
                    type="email"
                    formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Username</ion-label>
                <ion-input
                    type="text"
                    formControlName="username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input
                    type="password"
                    formControlName="password"></ion-input>
            </ion-item>
        </ion-list>
        <div class="block-20-padding">
            <button
                *ngIf="signUpFormGroup.valid"
                class="mc-button mc-blue mc-center"
                type="submit">
                Sign Up
            </button>
            <button
                *ngIf="!signUpFormGroup.valid"
                class="mc-button mc-grey mc-center"
                type="button">
                Please Complete Form
            </button>
        </div>
    </form>
    <div *ngIf="!signupComplete" class="lower-anchor">
        <a (click)="navigateToSignInPage()">Back to Sign In</a>
    </div>
</ion-content>
