<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>categories</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h2>Categories</h2>
</ion-content>
