<!--
  Generated template for the AboutUsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>about-us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h2>About Us</h2>
</ion-content>
