<!--
  Generated template for the MyEventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>my-events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h2>My Events</h2>
</ion-content>
